.adminLogInContainer {
    position: absolute;
    top: 64px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 365px;
    width: 365px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .brandContainer {
      width: 40px;
      height: 40px;
      margin: 5px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  
    h3 {
      margin: 24px 0 40px 0;
      font-weight: 700;
      line-height: 26px;
    }
  
  .inputContainer {
    padding: 2px 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  
    width: 356px;
    height: 54px;
    margin-bottom: 28px;
    flex-shrink: 0;
    .errMsg{
      border: 2px solid red;
    }
    label {
    position: absolute;
    z-index: 1;
    top: 0;
      flex-shrink: 0;
      width: 335px;
      height: 22px;
      font-size: var(--secondary-font-size);
      color: var(--grey-700);
      font-weight: 400;
      line-height: 22px;
    }
  
    input {
      position: absolute;
      bottom: 0;
      height: 54px;
      line-height: 54px;
      width: 356px;
      flex-shrink: 0;
      outline: none;
      border: none;
      background-color: #f5f8fa;
      color: var(--grey-500);
      line-height: 26px;
      font-weight: 400;
      font-size: var(--main-font-size);
      border-bottom: 2px solid #657786;
      &:focus{
        border-bottom: 2px solid var(--blue);
      }
    }
    input[type="text"],
    input[type="password"], 
    input[type="text"]::placeholder ,
    input[type="password"]::placeholder {
      position: absolute;
      bottom: 0;
      padding: 0 10px;
      line-height: 26px;
      font-size: var(--main-font-size);
      }
      .errMassage{
        border: 1px solid #000;
        color: var(--error);
      }
  }
  
    button {
      border: none;
      margin: 1rem 0;
      &:hover {
        cursor: pointer;
      }
    }
  
    .linkText {
      margin: 6px;
      color:  var(--primary);
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-decoration-line: underline;
      text-align: right;
      align-self: flex-end;
      cursor: pointer;
    }

    .linkWrapper{
      width: 100%;
      display: flex;
      justify-content: end;
      flex-flow: row nowrap;
      .linkText {
        margin: 6px;
        color:  var(--primary);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-decoration-line: underline;
        text-align: right;
        align-self: flex-end;
        cursor: pointer;
      }
      .dot{
        font-size: 20px;
        font-weight: 700;
      }
    }
  }


<<<<<<< HEAD
  .errMsg{
    border: 2px solid red;
  }
=======
>>>>>>> 82d3d1e (add error hint)
