.userProfileContainer{
    display: none;
}
.open{
    display: block;
    border: 2px solid #000;
    width: 634px;
    height: 610px;
    padding: 0px 24px;
    position: fixed;
    top:56px;
    border-radius: 14px;
    background-color: #fff;
    z-index: 1;
    .header{
        height: 41px;
        margin-top: 15px;
        margin-bottom: 12px;
        border-bottom: 1px solid var(--grey-500);
        border: 1px solid #000;
    } 
    .userProfileWrapper{
        width: 100%;
        height: 553px;
        .avatarWrapper{
            margin-left: 5px;
            height: 50px;
            width: 50px;
            .updateavatar{
                height: 50px;
                width: 50px;
                img{
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                  }
            }
            
          }
        .coverWrapper{
            width: 100%;
            height: 200px;
            .updateCover{
                width: 100%;
                img{
                    width: 100%;
                }
            }

        }
        .name{
            padding-left: 5px;
            width: 500px;
            height: 26px;
            border: none;
            word-break:break-all;
            border: 1px solid grey;
        }
        .introduction{
            padding-left: 5px;
            width: 500px;
            height: 26px;
            border: none;
            word-break:break-all;
            border: 1px solid grey;
        }
    }
    .tweetBtn{
        position: absolute;
        bottom:15px;
        right: 24px;
        cursor: pointer;
    }

}