$border-style: 1px solid var(--grey-500);

.appContainer {
    height: 100vh;
    max-width: 1199px;
    min-width: 992px;
    width: 960px;
    margin: 0 auto;
    display: flex;
    position: relative;
    .tweetModal{
        position: absolute;
        top:56px;
        left:336px;
        z-index: 100;
    }
}


.navbarContainer {
    height: 100%;
    width: 178px;
    margin-right: 25px;
}

.content {
    height: 100%;
    width: 639px;
    margin-right: 25px;
    overflow-y:scroll;
    overflow-x:hidden; //移除 水平 scrollbar
    scroll-behavior: auto;
    border-left: $border-style; 
    border-right: $border-style; 
    position: relative;
}

.tweetButton{
    background-color: var(--orange);
    color:white;
    padding: 8px 24px;
    font-size: 20px;
    font-weight: 700;
    cursor:  pointer;
}


.headerContainer{
    width: 100%;
    height: 75px;
    padding-left: 24px;
    border-bottom: 1px solid var(--grey-500);
    display: flex;
    flex-flow:row nowrap;
    .headerWrapper{
        width: 100%;
        height: 100%;
        cursor: pointer;
        position: relative;
        .goBack{
            width: 17px;
            height: 14px;
            position: absolute;
            top:30px;
        }           
        h4{
            margin-left: 40px;
            padding-top:24px;
            font-weight: 700;
        }
       
    }
    h4{
        margin-left: 2px;
        padding-top:21px;
        font-weight: 700;
    }
    
}

.headerContainer{
    display: flex;
    align-items: center;
    width: 100%;
    height: 75px;
    padding-left: 24px;
    border-bottom: 1px solid var(--grey-500);
    .iconContainer {
        margin-right: 16px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        width: 24px;
    }
    .headerTitle {
        h5 {
            font-size: 18px;
            font-weight: 700;
            line-height: 26px;
        }
        p {
            font-size: 13px;
            font-weight: 500;
            color: var(--secondary);
        }
    }
}
@media screen and (min-width: 1200px) {
    .appContainer {
        width: 1140px;
    }
}