.appContainer{    
    height: 100vh;
    max-width: 1199px;
    min-width: 992px;
    width: 960px;
    margin: 0 auto;
    display: flex;
   
    //content
    .content{
        height: 100%;
        width: 366px;
    }
}

@media screen and (min-width: 1200px) {
    .appContainer {
        width: 1140px;
    }
}