.navbarContainer {
    height: 100%;
    width: 178px;
    margin-right: 25px;

.navbar{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    .brandContainer{
        width: 50px;
        height: 50px;
        margin-bottom: 10px;
        img{
            object-fit: cover;
        }
    }
    
    .itemContainer{
        width: 100%;
        height: 58px;
        cursor: pointer;
        margin: 2px;
        .itemWrapper{
            width: 100%;
            height: 100%;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            i{
                width: 24px;
                height: 24px;
                border: 1px solid #000;
            }
            .navtitle{
                margin:16px ;
                font-size: 20px;
                font-weight: 700;
                //點擊套用橘色
                // .isClicked{
        
                //     color: var(--orange);
                // }
            }
        }
        
    }
    
    .tweetBtn{
        width: 178px;
        height: 46px;
        padding: 2px 10px;
        font-size: 20px;
        color:white;
        background-color: var(--orange);
        border-radius: 50px;
    }

    .logoutContainer{
        width: 100%;
        height: 58px;
        position: absolute;
        bottom:0;
        .itemWrapper{
            width: 100%;
            height: 100%;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            i{
                width: 24px;
                height: 24px;
                border: 1px solid #000;
            }
            .logoutTilte{
                font-weight: 700;
                margin-left: 16px;
                font-size: 20px;
            }
        }
    }
    

}
}