.popularList {
  margin-top: 16px;
  max-height: 731px;
  min-width: 273px;
  max-width: 273px;
  width: 273px;
  background-color: var(--grey-100);
  border-radius: 16px;
  overflow-y:scroll;
  overflow-x: hidden;
  scroll-behavior: auto;

  .title {
    padding: 24px;
    width: 100%;
    height: 75px;
    border-bottom: 1px solid #E6ECF0;
    h4 {
    font-weight: 700;
    line-height: 26px;
    }
  }

  .PopularAccountItem {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .avatar {
      min-height: 50px;
      max-height: 50px;
      min-width: 50px;
      max-width: 50px;
      margin-right: 8px;
      background-position: center center;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    .accountTitle {
      display: flex;
      flex-direction: column;
      height: 47px;
      min-width: 84px;
      max-width: 84px;

      .accountName {
        font-size: var(--main-font-size);
        font-weight: 700;
        color: var(--grey-900);
        line-height: 26px;
        overflow:hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .tagAccountName {
        font-size: var(--secondary-font-size);
        font-weight: 500;
        color: var(--grey-600);
        line-height: 22px;
        overflow:hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    .followingBtn {
      cursor: pointer;
    }
  }
}