.inputContainer{
    border: 1px solid #000;
    width: 100%;
    height: 78px;
    padding: 0px 23px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    .inputContainer{
        width: 100%;
        padding: 0px 17.75px ;
        background-color: #F5F8FA;
        margin-bottom: 0;
        label{
            color: #696974;
            height: 22px;
        }
        input{
            font-size: var(--main-font-size);
            border: none;
            background-color: #F5F8FA;
            line-height: 26px;
            &:focus{
                outline: none;
            }
        }
    }
    .errMassage{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 24px;
        border-top: 3px solid #657786;
        &:error{
            border-top: 3px solid var(--error);  
        }
    }
}
