.buttonPanel{
    display: flex;
    flex-flow:row wrap;
    width: 100%;
    height: 52px;
    .button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 130px;
        height: 100%;
        padding: 15px 27px;
        color: #657786;
        font-size: 15px;
        font-weight: 700;
        cursor: pointer;
        text-wrap: nowrap;
        text-align: center;
        span {
            height: 22px;
            line-height: 22px;
        }
        &:hover{
            color: var(--orange);
            border-bottom: 3px solid var(--orange);
        }
    }
    .active{
        color: var(--orange);
            border-bottom: 3px solid var(--orange);
    }
}

