
.tweetContainer{
  width: 100%;
  height: auto;
  margin-bottom: 16px;
  border-bottom: 1.5px solid var(--grey-500);
  display: flex;
  flex-direction: row;
  position: relative;
  .avatarWrapper{
    margin-left: 24px;
    height: 50px;
    width: 50px;
    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .tweetWrapper{
    width: 528px;
    display: flex;
    flex-direction: column;
    margin-left: 6px;
    .userInfo{
      display: flex;
      flex-direction: row;
      font-size: var(--main-font-size);
      margin-bottom: 8px;
      .userName{
        font-weight: 700;
      }
      .accountWrapper{
        color:var(--grey-800)
      }
    }

    .tweetWrapper{
      width: 100%;
      overflow: hidden;
      margin-bottom: 8px;
      height: 78px;   
      cursor: pointer;
    }

    .iconPanel{
      display:flex;
      flex-direction: row;
      color:var(--grey-800);
      .iconContainer{
        display: flex;
        align-items: center;
        margin-right: 40px;
        .NumberWrapper{
          padding-left: 8px;
          text-align: center;
          font-weight: 700;
          color:var(--grey-700)
        }
      }
      
    }

    .iconWrapper{
      position: absolute;
      top:0;
      right:0;
    }

  }
  


}