.modalContainer{
    position: absolute;
    margin-top: 16px;
    width: 100%;
    height: 300px;
    padding: 24px;
    position: relative;
    border-bottom:10px solid var(--grey-200);
    border-radius: 14px;
    z-index: 1;
    top:24px;
    .toTweetWrapper{
        width: 100%;
        height: 50px;
        display: flex;
        flex-flow: row wrap;
        .avatar{
            margin-left: 5px;
            height: 50px;
            width: 50px;
            img{
              height: 100%;
              width: 100%;
              object-fit: cover;
              border-radius: 50%;
            }
          }
        input{
            width: auto;
            height: 26px;
            border: none;
        }
    }
    .tweetBtn{
        position: absolute;
        bottom:14px;
        top:64px;
        right: 24px;
        cursor: pointer;
    }
}