
.tweetContainer{
  width: 100%;
  height: auto;
  margin-bottom: 16px;
  border-bottom: 1.5px solid var(--grey-500);
  display: flex;
  flex-direction: row;
  position: relative;
  .avatarWrapper{
    margin-left: 5px;
    height: 50px;
    width: 50px;
    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .tweetWrapper{
    width: 528px;
    display: flex;
    flex-direction: column;
    .userInfo{
      display: flex;
      flex-direction: row;
      font-size: var(--main-font-size);
      margin-bottom: 8px;
      .userName{
        font-weight: 700;
      }
      .accountWrapper{
        padding-left: 8px;
        color:var(--grey-800)
      }
    }

    .tweetWrapper{
      width: 100%;
      overflow: hidden;
      margin-bottom: 8px;
      height: 78px;   
    }

    .iconPanel{
      display:flex;
      flex-direction: row;
      color:var(--grey-800);
      .iconContainer{
        display: flex;
        .NumberWrapper{
          padding-left: 8px;
        }
      }
      
    }

    .iconWrapper{
      position: absolute;
      top:0;
      right:0;
    }

  }
  


}